.Header-container {
    display: flex;
    color:black;
  }
  .Form-Container {
    display: flex;
    flex-grow:1;
    flex-direction: column;
    height:'100%';
    border-radius: 10px;
  }
  .rootContainer {
    display: flex;
  }
  .Icon-color{
    color: white;
  }
  .Title-text {
    color: white;
  }
  .Sub-item {
    display: flex;
  }
  .Button-text{
    color: white;
    font-size: 11px;
    margin: 0px;
  }