.Header-container {
    display: flex;
    background-color: black;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    flex-grow:1;
  }
  .Title-container {
    display: flex;
  }
  .SubMenu-container {
    display: flex;
  }
  .HelperMenu-container {
    display: flex;
    align-items: center;
  }
  .Icon-color{
    color: white;
  }
  .Title-text {
    color: white;
  }
  .Maintain-Box{
    display: flex;
    background-color: grey;
    border-radius: 20px;
  }
  .Sub-box{
    display:flex;
    align-items: center
  }
  .Avatar-circle{
    padding:8px;
    border-radius: 20px;
    background-color: green;
  }
  .User-text{
    color: white;
    font-size: 12px;
  }
  .User-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  