.Footer-container {
    display: flex;
    background-color: black;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  .Title-container {
    display: flex;
  }
  .Action-container {
    display: flex;
  }
  .Icon-color{
    color: white;
  }
  .Action-text {
    color: white;
  }